<footer class="site-footer">

  <div class="footer-wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>東京科学大学 工学院 経営工学系</p>
        <p class="text-large">中田研究室</p>
      </div>
      <br>
      <div class="footer-col">
        <p>
          〒152-8552 東京都目黒区大岡山2-12-1 W9-60<br>
          TEL：03-5734-3321<br>
          <a href="{{ '/links/' | relative_url }}">関連ページリンク</a>
        </p>
      </div>
    </div>
    <small>&copy; Nakata Laboratory</small>
  </div>

</footer>