// Placeholder to allow overriding predefined variables smoothly.

$text-color-dark: #333333;
$text-color-light: #ffffff;
$main-color: #1c3177;
$sub-color: #7f96c2;
$link-base-color: #3155cc;
$link-hover-color: #cc3155;
$link-base-header-color: #ffffff;
$link-hover-header-color: #ffffff;

$max-width: 960px;
$on-medium: $max-width - 1;

// システムのデフォルトフォントを使う設定
$base-font-family: system-ui, sans-serif;