<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ja" }}">

  {%- include head.html -%}

  <body>

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5TPB7W5Z"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
